nav {
  margin: 3rem 0rem;
}

h3 {
  vertical-align: top;
}

nav a:last-of-type {
  margin-left: 1rem;
}

ol > li {
  list-style-type: none;
}

ol > li > a:link {
  color: #ccc;
}

ol > li > a:hover {
  text-decoration: none;
}

ol > li > a:visited {
  color: #6e6d6d;
}

body {
  background-color: black;
  color: #ccc;
}

a.button {
  color: #ccc;
}

a.button:hover {
  color: #9c9c9c;
}

.nsfw {
  color: #ac0900;
}
